POSTGRES_USER=proviso
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432
BACKEND_API_PORT=5000
N8N_PORT=5678
N8N_HOST=localhost
N8N_WEBHOOK_URL=http://localhost:5678/
PAPERLESS_PORT=8000
PAPERLESS_URL=http://localhost:8000
PAPERLESS_SECRET_KEY=change-me
PAPERLESS_OCR_LANGUAGE=eng
OLLAMA_PORT=11434
OLLAMA_BASE_URL=http://host.docker.internal:11434
OLLAMA_MODEL=llama3.2:3b
FLOWISE_PORT=3001
FLOWISE_SECRETKEY=change-me
TIMEZONE=UTC
